body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'sans';
}

button {
    color: #F9FAF8;
    font-weight: bolder;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}

.header, .intro, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
}

.intro {
    display: flex;
    justify-content: center;
    padding: 100px;
    color: #F9FAF8;
    gap: 48px;
}

.body h2 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.body p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 12px 0px;
}

.info-section {
    text-align: center;
    padding: 32px;
    margin-bottom: 80px;
}

.info-section h2 {
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info {
    max-width: 200px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote h2 {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.quote h3 {
    text-align: end;
    margin-right: 64px;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 100px;
    margin: 128px;
    border-radius: 12px;
}

.call-to-action h2, p {
    margin: 5px;
}

.call-to-action button {
    border: solid #F9FAF8 2px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 36px;
}